<!-- NAVIGATION -->


<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cf/Angular_full_color_logo.svg/1200px-Angular_full_color_logo.svg.png"
      width="30" height="30" class="d-inline-block align-top" alt="">
    Práctica
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link " [routerLink]="[ '/home' ]">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " [routerLink]="[ '/usuario' ]">Usuario</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " [routerLink]="[ '/addusuario' ]">Agregar Usuario</a>
      </li>

    </ul>
  </div>
</nav>


<router-outlet></router-outlet>
