<div class="container">
  <h3>Registro de Usuario</h3>
  <div class="row">
    <form class="col-8" #formUsuario="ngForm" (submit)="onSubmit(formUsuario)">
      <div class="form-group">
        <label for="name">Nombre de Usuario</label>
        <input type="text" class="form-control" #nombre="ngModel" [(ngModel)]="usuario.name" [ngModelOptions]="{standalone: true}" placeholder="Ingresar Nombre del Usuario">
        <span *ngIf="!nombre.valid">*</span>
      </div>
      <div class="form-group">
        <label for="name">Trabajo</label>
        <input type="text" class="form-control" #job="ngModel" [(ngModel)]="usuario.job" [ngModelOptions]="{standalone: true}"  placeholder="Ingresar Trabajo">
        <span *ngIf="!job.valid">*</span>
      </div>

      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>



</div>
